body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    direction: rtl;
}

.footer-container {
    padding: 50px 0;
    text-align: center;
}

.footer-logo {
    max-width: 70px;
    margin-bottom: 20px;
}

.footer-section {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-right: 50px;
}

.footer-section:last-child {
    margin-right: 0;
}

.footer-section h4 {
    margin-bottom: 10px;
    color: #333;
}

.footer-section p {
    margin: 0;
    color: #666;
}

.social-icons {
    margin-top: 20px;
}

/* Facebook color */
.social-icons a {
    color: #007bff;
    margin-right: 10px;
    font-size: 20px;
}

.social-icons a:hover {
    color: #007bff;
}

.copyright {
    background-color: #fff;
    padding: 10px 0;
    text-align: center;
    color: #666;
    font-size: 14px;
}